<h4>Post details:</h4>
<%@currpost.each do |row| %>
	<div class="form-group"><p><small><label for="PostDate" class="col-sm-2 control-label">Added at<br /><%=row['created_date']%></label></small>
	<div class="col-sm-9">
	<%=row['posttext']%>
	</div>
	<hr /></p></div>

<h4>Comments</h4>
<br />
<div class="form-group">
	<form role=form" action="/comms/<%=row['id']%>" method="POST">
		<div class="col-sm-8 col-sm-offset-3">
		<textarea class="form-control" rows="5" placeholder="Type comment here" name="commtext"></textarea>
		<br />
  		<button type="submit" class="btn btn-primary">Post comment</button>
  		</div>
	</form></div>

<%end%>