<h2>Latest posts</h2><hr />
<%@newposts.each do |row| %>
	<label for="PostDate" class="col-sm-2 control-label"><%=row['created_date']%></label>
	<div class="col-sm-9">
	<p><%=row['posttext']%></p>
	<hr /></div>
<%end%>