<h2>Add new post</h2>
<p>
	<form role=form" action="/new" method="POST">
		<div class="col-sm-10">
		<textarea class="form-control" rows="5" placeholder="Type your post here" name="posttext"></textarea>
		<br />
  		<button type="submit" class="btn btn-primary">Submit</button>
  		</div>
	</form>
</p>